$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$default-font-size: 1.6rem;

.section-service {
     background-color: #0B0C10;
     background-image:url("https://images.unsplash.com/photo-1533086189683-1d813643c6e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding-bottom: 50rem;
     padding-top: 10rem;
     background-blend-mode:soft-light;
}

.row {
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    column-gap: 10px;
    row-gap: 10px;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

    }




}

.section-box {
    background-color: var(--color-white);
    font-size: 1.5rem;
    padding: 2.5rem;
    height: 50vh;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(var(--color-black), .15);
    transition: transform .3s;

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
        -webkit-background-clip: text;
        color: transparent;

    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}