.section-bio{
	text-align: left;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width:60%;
	text-align: center;
	flex-direction: row;
}
/*Styling for the first half of the the page */

.section-bio .about-primary-header{
	color: white;
	text-align: center;
}

.section-bio .about-secondary-header{
	color: white;
	text-align: center;
}

.profile-text-container{
	background-color: black;
	width:90%;
	line-height: 40px;
	text-align: justify;
	padding: 2rem;
	color: white;
}


.about-primary-header{
	font-family: 'Limelight', cursive;
	font-size: 2.5rem;
	text-transform: uppercase;
	color:  black;
}
.about-secondary-header{
	font-family: 'Limelight', cursive;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: black;
}


.contact a {
	color: yellow;
	margin: 10px;
}

@media only screen and (max-width: 600px){
	
	.section-bio{
		width:90%;
		
	}
	
	.profile-text-container{

		line-height: 20px;
	}

	.about-paragraph{
		font-size: .6rem;
	}
	
	
	.about-primary-header{
		font-size: 1.3em;

	}
	.about-secondary-header{
		font-size: .8em;
	}

	.contact{
		font-size: 10px;
	}
}