.navigation-container{
	position: relative;
	width: 100%;
}

.navigation-container .navigation-list{
	color:white;
	font-size: 2rem;
	margin: 0;
	position: fixed;
	z-index: 40;
	display: flex;
	text-transform: uppercase;
	font-weight: 800;
	padding: 10px 0;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
    font-family: 'open sans',sans-serif;
	list-style-type: none;
}

.navigation-item,
.navigation-item:link,
.navigation-list:visited {
	color: var(--color-primary);
	text-decoration: none;
}
.navigation-item:active, .navigation-item:hover{
	color:rgb(255, 253, 253);
}

@media only screen and (max-width: 600px) {
	.navigation-container .navigation-list{
		font-size: 1rem;
	}
	
	.navigation-item,
	.navigation-item:link,
	.navigation-list:visited {
		margin-right: 2rem;
	}
}


